@media screen and (min-width:768px) and (max-width:1200px) {
             
.container {
    max-width: 768px;
    display: block; 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
nav {
    flex-direction: row;
    /*display: flex;
    justify-content: space-between;*/
    margin-top: 47px;
}    
.container_one {
    margin-top: 50px;
}
.illu {
    width: 336px;
    height: 293px;
    float: right;
    margin-top: -210px;
    margin-left: -11px;
}
main {
    width: 768px;
    margin: 24px auto;
}
.group_main {
   /* display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.group {
    width: 335px;
    height: 448px;
}
.group:last-child {
    margin-bottom: 32px;
}
.first {
    margin: 40px 109px 48px 65px;
    height: 113px;
    width: 160px;
}
.second {
    margin: 41px 104px 42px 109px;
    height: 113px;
    width: 123px;
}
.third {
    margin: 43px 110px 47px 88px;
    height: 114px;
    width: 138px;
}
.arrey {
    margin-left: 35px;
}
.arrey::before {
    content: url('../img/arrey.png');
    float: right;
    margin: 3px 170px 0 15px;
}
.container_our {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 336px 336px;
    grid-template-rows: 296px 253px;
    grid-gap: 32px;
}
.our {
    width: 520px;
    margin: 10px 123px 32px 123px
}
.group_tek {
    margin: 0 0 0 40px;
}
.home {
    width: 704px;
    height: 296px;
    background-size: contain;	
    background-position: center;
    background-repeat: no-repeat;
}
.phone {
    width: 336px;
    height: 253px;
    background-size: contain;	
    background-position: center;
    background-repeat: no-repeat;
}
.car {
    width: 336px;
    height: 253px;
    background-size: contain;	
    background-position: center;
    background-repeat: no-repeat;
}
footer h3 {
    margin: 47px 308px 32px 124px;
}
footer p {
    width: 336px;
    margin: 0px 308px 64px 124px;
}
footer button {
    margin: -161px 123px 89px 511px;
    width: 133px;
    height: 32px;
}
footer ol {
        display: block;
}
footer li {
    margin: 0px 129px 25px 124px;
    padding-left: 59px;
}
footer li + li {
    margin-top: 26px;
}
footer li br {
    display: none;
}
.copy {
    margin: 0px 129px 25px 124px;
}
}    